ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth0", RUN+="/root/agency.sh"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="vnet1", RUN+="/sbin/ifup vnet1"
SUBSYSTEM=="net", ACTION=="remove", KERNEL=="vnet1", RUN+="/sbin/ifdown vnet1"


