menu "OpenCN (AMP) Framework"

config RTDM_HZ
	int "Timer Frequency simulation"
	default 250
	help
		Simulation of the Timer frequency. It is used by EtherCAT master

config OPENCN_RTS_TOGGLE
	bool "RTS Toggle latency test"
	help
		Toggle RTS pin
	default N

source "opencn/master/Kconfig"

config OPENCN_BECKHOFF_APP
    bool "Beckhoff testing application"
    help
        This app works with the Beckhoff in/out modules.
    depends on OPENCN_ETHERCAT_MASTER

config OPENCN_OPENBLAS
	bool "OpenBLAS"

config VDUMMY_RING
	bool "vdummy ring buffer"

config OPENCN_COMPANION
	bool "OpenCN Companion EtherCAT Slave"
	help
        Build the OpenCN as Companion Slave
    depends on PWM && ARCH_BCM2835 && PWM_BCM2835

endmenu # OpenCN
