
choice

	prompt "SOO Mobile Entity environment"
	
	config SOO_REFSO3
		bool "SO3 ME Reference"
		help
			The SO3 ME is a reference mobile entity which is used for debugging and testing purposes.
			It helps in the test & debug of interactions between the Agency and the ME for example.

	config SOO_BLIND
		bool "SOO.blind Mobile Entity"
		help
		   	SOO.blind is devoted to the handling of a "standard" blind which provides
		   	the user with features such as putting the blinds up or down, but the ME
		   	can also perform synergies with SOO.outdoor for example to decide how
		   	to manipulate the blinds, according to the weather condition.
		
	config SOO_OUTDOOR
		bool "SOO.outdoor Mobile Entity"
		help
			SOO.outdoor is able to manage the data coming from various sensors embedded
			in a weather station.
	
	config SOO_AGENCY
		bool "SOO.agency Mobile Entity"
		help
			SOO.agency enables the upgrade of agency image within a smart object. The ME
			has an embedded of the new version of agency.
			
	config SOO_NET
		bool "SOO.net Mobile Entity"
		help
			SOO.net is an example of ME which can interact with the network.
			The ME is configured with a simple ramfs which contains basic applications
		
	config SOO_HEAT
		bool "SOO.heat Mobile Entity"
		help
			SOO.heat is able to send command to a LoRa valve.
		
	config SOO_INDOOR
		bool "SOO.indoor Mobile Entity"
		help
			SOO.heattemp is able to read temperature data from RPI Sense Hat.
		
	config SOO_DOMO
		bool "SOO.domotic TEST Mobile Entity"
		help
			SOO.domo is used to TEST several BE/FE drivers.
		
	config SOO_KNXBLIND
		bool "SOO.knxblind Mobile Entity"
		help
			SOO.knxblind is used to command the Lahoco Blind using KNX protocol.
		
	config SOO_DOGABLIND
		bool "SOO.dogablind Mobile Entity"
		help
			SOO.dogablind is used to command the Doga Blind and receive command from EnOcean Switch.
		
endchoice

