

menu "Kernel & CPU features"

config PSCI
	bool "PSCI CPU power management (used in TrustZone)"
	help
	  Enabling PSCI-based CPU power handling. 
          It enables/disables secondary CPUs within the Secure mode.

          choice

config HZ
	int
	default 100

config SCHED_FLIP_SCHEDFREQ
	int "Scheduler flip frequency"
	default "30"
	help
	  The rate in ms at which the scheduler is invoked.
	  
endmenu
