#
# SOO Mobile Entity configuration
#

menu "SOO Mobile Entity frontend drivers"

config VUART_FRONTEND
	bool "vuart serial driver"

config VWEATHER_FRONTEND
	bool "vWeather frontend for the SOO.outdoor weather station"

config VUIHANDLER_FRONTEND
	bool "vuihandler UI manager driver"

endmenu

