
menuconfig WEATHER
    default n
	bool "Weather data parser (SOO.outdoor)"


config ASF
	bool "ASF support usr app"
	default n
	help
	   ASF application. Use to send TA to secure storage


config HELLO_WORLD_TA_TST
	bool "Hello World TA test app"
	default n
	help
	   Application used to test Hello World TA.

