
config OPENCN_ETHERCAT_MASTER
    bool "EtherCAT master"
    help
        Build EtherCat master component
    default N


if OPENCN_ETHERCAT_MASTER

config OPENCN_ETHERCAT_MASTER_NR
    int "Number of EtherCAT master"
    help
        Number of EtherCAT master (maximum 32)
    default 1

config OPENCN_ETHERCAT_MASTER_MAC0
    string "MAC address 0"
    help
        MAC address of the first EtherCAT master device
	The MAC address must match the regular expression
        "([0-9a-fA-F]{2}:){5}[0-9a-fA-F]{2}".

config OPENCN_ETHERCAT_MASTER_DEBUG_LEVEL
    int "Debug level"
    help
        Debug level of the EtherCAT master driver.
    default 0

config OPENCN_ETHERCAT_MASTER_MASTER_THREAD_PRIORITY
   int "Master thread priority"
   help
       RTDM priority of the master thread.
   default 50

config OPENCN_ETHERCAT_MASTER_EOE_THREAD_PRIORITY
   int "EOE thread priority"
   help
       RTDM priority of the EOE thread.
   default 50

config OPENCN_ETHERCAT_MASTER_EOE_THREAD_PERIOD_NS
   int "EOE thread period (ns)"
   help
       EOE thread period in nanoseconds.
   default 1000000
endif
