menu "Core features"


config XENO_OPT_STATS
	bool "Runtime statistics"
	default y
	help
	This option causes the Cobalt kernel to collect various
	per-thread runtime statistics, which are accessible through
	the /proc/xenomai/sched/stat interface.

choice
	prompt "Timer indexing method"
	default XENO_OPT_TIMER_LIST
	help
	This option allows to select the underlying data structure
	which is going to be used for ordering the outstanding
	software timers managed by the Cobalt kernel.

config XENO_OPT_TIMER_LIST
	bool "Linear"
	help
	Use a linked list. Albeit O(N), this simple data structure is
	particularly efficient when only a few timers (< 10) may be
	concurrently outstanding at any point in time.

config XENO_OPT_TIMER_HEAP
	bool "Tree"
	help
	Use a binary heap. This data structure is efficient when a
	high number of software timers may be concurrently
	outstanding at any point in time.

endchoice

config XENO_OPT_TIMER_HEAP_CAPACITY
	int "Binary heap capacity"
	depends on XENO_OPT_TIMER_HEAP
	default 256
	help
	Set the maximum number of timers the binary heap can index.

endmenu

menu "Sizes and static limits"

config XENO_OPT_PIPE_NRDEV
	int "Number of pipe devices"
	depends on XENO_OPT_PIPE
	default 32
	help
	Message pipes are bi-directional FIFO communication channels
	allowing data exchange between Cobalt threads and regular
	POSIX threads. Pipes natively preserve message boundaries, but
	can also be used in byte streaming mode from kernel to
	user-space.

	This option sets the maximum number of pipe devices supported
	in the system. Pipe devices are named /dev/rtpN where N is a
	device minor number ranging from 0 to XENO_OPT_PIPE_NRDEV - 1.

config XENO_OPT_REGISTRY_NRSLOTS
	int "Number of registry slots"
	default 512
	help
	The registry is used by the Cobalt kernel to export named
	resources to user-space programs via the /proc interface.
	Each named resource occupies a registry slot. This option sets
	the maximum number of resources the registry can handle.

config XENO_OPT_SYS_HEAPSZ
	int "Size of system heap (Kb)"
	default 512
	help
	The system heap is used for various internal allocations by
	the Cobalt kernel. The size is expressed in Kilobytes.

config XENO_OPT_PRIVATE_HEAPSZ
	int "Size of private heap (Kb)"
	default 64
	help
	The Cobalt kernel implements fast IPC mechanisms within the
	scope of a process which require a private kernel memory heap
	to be mapped in the address space of each Xenomai application
	process. This option can be used to set the size of this
	per-process heap.

	64k is considered a large enough size for common use cases.

config XENO_OPT_SHARED_HEAPSZ
	int "Size of shared heap (Kb)"
	default 64
	help
	The Cobalt kernel implements fast IPC mechanisms between
	processes which require a shared kernel memory heap to be
	mapped in the address space of all Xenomai application
	processes. This option can be used to set the size of this
	system-wide heap.

	64k is considered a large enough size for common use cases.

config XENO_OPT_NRTIMERS
       int "Maximum number of POSIX timers per process"
       default 128
       help
       This tunable controls how many POSIX timers can exist at any
       given time for each Cobalt process (a timer is created by a
       call to the timer_create() service of the Cobalt/POSIX API).

config XENO_OPT_DEBUG_TRACE_LOGSZ
       int "Trace log size"
       depends on XENO_OPT_DEBUG_TRACE_RELAX
       default 16
       help
       The size (kilobytes) of the trace log of relax requests. Once
       this limit is reached, subsequent traces will be silently
       discarded.

       Writing to /proc/xenomai/debug/relax empties the trace log.

endmenu

menu "Latency settings"

config XENO_OPT_TIMING_SCHEDLAT
	int "User scheduling latency (ns)"
	default 0
	help
	The user scheduling latency is the time between the
	termination of an interrupt handler and the execution of the
	first instruction of the real-time application thread this
	handler resumes. A default value of 0 (recommended) will cause
	a pre-calibrated value to be used.

	If the auto-tuner is enabled, this value will be used as the
	factory default when running "autotune --reset".

config XENO_OPT_TIMING_KSCHEDLAT
	int "Intra-kernel scheduling latency (ns)"
	default 0
	help
	The intra-kernel scheduling latency is the time between the
	termination of an interrupt handler and the execution of the
	first instruction of the RTDM kernel thread this handler
	resumes. A default value of 0 (recommended) will cause a
	pre-calibrated value to be used.

	Intra-kernel latency is usually significantly lower than user
	scheduling latency on MMU-enabled platforms, due to CPU cache
	latency.

	If the auto-tuner is enabled, this value will be used as the
	factory default when running "autotune --reset".

config XENO_OPT_TIMING_IRQLAT
	int "Interrupt latency (ns)"
	default 0
	help
	The interrupt latency is the time between the occurrence of an
	IRQ and the first instruction of the interrupt handler which
	will service it. A default value of 0 (recommended) will cause
	a pre-calibrated value to be used.

	If the auto-tuner is enabled, this value will be used as the
	factory default when running "autotune --reset".

endmenu

