

mainmenu "SO3 Configuration"

menu "General"
	config CROSS_COMPILE
		string "Cross-compiler tool prefix"
		default "arm-linux-gnueabihf-"
endmenu

 
source "arch/arm/Kconfig"

source "kernel/Kconfig"

source "mm/Kconfig"

source "devices/Kconfig" 

	

