#
# SOO device configuration
#


menu "Smart Object Oriented subsystem" 

config VDUMMY_BACKEND
	bool "SOO vdummy backend support for debugging and testing"

config VUART_BACKEND
	bool "vuart UART Backend support for SOO Mobile Entity consoles"
	select SERIAL_CORE_CONSOLE

config VDOGA12V6NM_BACKEND
	bool "vDOGA12V6NM backend"
	depends on TTY
	default n
	help
	  Support for DOGA 12V 6Nm blind motor.

config VWEATHER_BACKEND
	bool "vWeather backend"
	depends on TTY
	default n
	help
	  Support for multi-purpose weather station, for the SOO.outdoor
	  product.

config VUIHANDLER_BACKEND
	bool "vUihandler backend driver"
	default N
	help
	  vUihandler backend driver for remote UI over Bluetooth or WLAN.

config VLEDS_BACKEND
	bool "vleds LEDS backend driver"
	default N

config VFB_BACKEND
	bool "vfb framebuffer backend driver"
	default N
	help
	  This driver enabled to deal with a virtualized interface for a framebuffer
	  in the Mobile Entity.

config VINPUT_BACKEND
	bool "vinput input backend driver"
	default N
	help
	  This driver implements the backend of the input (keyboard, mouse, touchscreen, etc.) driver of the SOO environment.

endmenu
