
menu "Agency Core Configuration"


config MIGRATION_CYCLE_FREQ
	int "Migration cycle frequency (in second)"	
	default 1
	help
	   Migration cycle currently expressed in s (second). It determines to which frequency all residing MEs enter a migration cycle.
	   
config LEDS
	bool "Support for debug with LEDs during migration"
	help
	   Migration can be monitored by means of specific LEDs (when a ME is received for example)
	   
endmenu


