config WLAN_VENDOR_MARVELL
	bool "Marvell devices"
	default y
	---help---
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all the
	  questions about these cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_VENDOR_MARVELL

source "drivers/net/wireless/marvell/libertas/Kconfig"
source "drivers/net/wireless/marvell/libertas_tf/Kconfig"
source "drivers/net/wireless/marvell/mwifiex/Kconfig"

config MWL8K
	tristate "Marvell 88W8xxx PCI/PCIe Wireless support"
	depends on MAC80211 && PCI
	---help---
	  This driver supports Marvell TOPDOG 802.11 wireless cards.

	  To compile this driver as a module, choose M here: the module
	  will be called mwl8k.  If unsure, say N.

# SOO.tech
# +MARVELL_MWIFIEX_MLAN +MARVELL_MWIFIEX_MOAL
config MARVELL_MWIFIEX_MLAN
	bool "Marvell mlan core"

config MARVELL_MWIFIEX_MOAL
	bool "Marvell linux control abstraction layer"

	---help---
	  This adds support for wireless adapters based on Marvell
	  802.11n/ac chipsets.

	  If you choose to build it as a module, it will be called
	  mwifiex.
	
# SOO.tech
# This option selects WIRELESS_EXT and WEXT_PRIV, which should be enabled
# if you are planning to use iwpriv. Please note that the WEXT features
# are mutually exclusive with the CFG80211 ones, that is, you will not be
# able to use iw if MARVELL_WEXT is enabled.
config MARVELL_WEXT
	bool "Wireless extensions for Marvell"
	select WIRELESS_EXT
	select WEXT_PRIV

endif # WLAN_VENDOR_MARVELL
