
menu "Platform"

choice
	prompt "SO3 OS type"

config STANDALONE
        bool "Standalone OS"
        
endchoice

choice
  prompt "Target"
	
       	depends on STANDALONE
	config SO3VIRT
		bool "SO3 virtshare/avz"
		depends on MMU
        
   
endchoice

endmenu
